.friends {
	padding-top: 52px;
	padding-bottom: 110px;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	&__ava {
		display: flex;
		justify-content: center;
		margin-bottom: 20px;
	}
	&-steps {
		border-radius: 12px;
		border: 1px solid var(--modal-border);
		background: var(--modal-bg);
		padding: 40px;
		margin-bottom: 10px;
		display: flex;
		gap: 30px;
		&__left {
			& svg {
				& line {
					stroke: var(--app-logo);
				}
				& circle {
					stroke: var(--app-logo);
					fill: var(--app-logo);
				}
			}
		}
		&__right {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			& h4 {
				color: var(--app-logo);
				font-size: 14px;
				font-weight: 600;
				line-height: 140%;
			}
			& p {
				text-align: left;
				// color: rgba(3, 6, 26, 0.5);
				color: var(--friends-text);
				font-size: 12px;
				font-style: normal;
				font-weight: 500;
				line-height: 140%;
			}
		}
	}
	&__bottom {
		margin-top: auto;
	}
	&__button {
		border-radius: 12px;
		background: var(--app-link-bg);
		padding: 24px;
		height: 62px;
		color: var(--white);
		font-size: 20px;
		font-weight: 600;
		line-height: 140%;
		border: none;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
	&-choose {
		max-height: 380px;
		height: 380px;
		opacity: 1;
		background: var(--modal-bg);
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 100;
		padding: 40px 20px 60px 20px;
		border-radius: 12px 12px 0 0;
		border: 1px solid var(--modal-border);
		// visibility: hidden;
		transition: all 0.5s ease;
		transform: translateY(100%);
		& h4 {
			color: var(--app-logo);
			font-size: 24px;
			font-weight: 600;
			text-align: center;
			line-height: 140%;
			margin-bottom: 5px;
		}
		& p {
			color: #03061a;
			text-align: center;
			font-size: 12px;
			font-weight: 500;
			line-height: 150%;
			margin-bottom: 30px;
		}
		&__invite {
			border-radius: 12px;
			border: 1px solid #e9eaed;
			background: #f5f6f8;
			padding: 19px 24px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			text-align: center;
			gap: 5px;
			margin-bottom: 30px;

			&-link {
				display: block;
				width: 100%;
				text-align: center;
				color: #03061a;
				font-size: 20px;
				font-style: normal;
				font-weight: 600;
				line-height: 140%;
				opacity: 0.5;
			}
		}
		&__button {
			border-radius: 12px;
			background: #4879b2;
			display: flex;
			padding: 24px;
			justify-content: center;
			align-items: center;
			gap: 10px;
			align-self: stretch;
			color: #fff;
			font-size: 20px;
			font-style: normal;
			font-weight: 600;
			line-height: 140%;
			height: 62px;
			border: none;
			outline: none;
			width: 100%;
			margin-bottom: 10px;
			position: relative;
			& input {
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				width: 100%;
				opacity: 0;
				height: 100%;
			}
		}
		&__cancel {
			border-radius: 12px;
			border: none;
			background: transparent;
			outline: none;
			border-radius: 12px;
			// height: 62px;
			width: 100%;
			color: var(--text);
			font-size: 20px;
			font-style: normal;
			font-weight: 600;
			line-height: 140%;
			leading-trim: both;
			text-edge: cap;
			color: #e93626;
		}
	}
}
body.lock .friends-choose {
	opacity: 1;
	z-index: 100;
	transform: translateY(00%);
	transition: all 0.5s ease;
}
body.lock .friends-choose__overlay {
	background: rgba(#03061a, 0.5);
	position: fixed;
	left: 0;
	right: 0;
	z-index: 10;
	bottom: 0;
	top: 0;
}
